@model Uch_PracticeV3.Models.Identity.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2 class="text-center text-primary my-3">Вход на сайт</h2>

<form class="my-3" action="/Account/Login" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Email">Email</label>
        <input id="Email" name="Email" type="email" required pattern="@("^[A-Za-z]+@mail.ru$")" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Password">Пароль</label>
        <input id="Password" name="Password" type="password" required class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>