@{
    ViewBag.Title = "Просмотр данных";
}

<h3 class="text-primary my-4 text-center">Какая информация вас интересует?</h3>
<div class="list-group w-50 mx-auto">
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Оценки студентов
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="/Queries/Marks?format=tab">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="/Queries/Marks?format=excel">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="/Queries/Marks?format=word">Скачать таблицу Word</a>
        </div>
    </div>
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="#1">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="#2">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="#3">Скачать таблицу Word</a>
        </div>
    </div>
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="#1">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="#2">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="#3">Скачать таблицу Word</a>
        </div>
    </div>
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="#1">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="#2">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="#3">Скачать таблицу Word</a>
        </div>
    </div>
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="#1">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="#2">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="#3">Скачать таблицу Word</a>
        </div>
    </div>
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="#1">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="#2">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="#3">Скачать таблицу Word</a>
        </div>
    </div>
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="#1">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="#2">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="#3">Скачать таблицу Word</a>
        </div>
    </div>
    <div class="btn-group dropright list-group-item list-group-item-action px-0 py-0">
        <button class="btn btn-light dropdown-toggle w-100 py-3" type="button" id="query_1DropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu" aria-labelledby="query_1DropdownButton">
            <a class="dropdown-item" href="#1">Просмотр в новой вкладке</a>
            <a class="dropdown-item" href="#2">Скачать таблицу Excel</a>
            <a class="dropdown-item" href="#3">Скачать таблицу Word</a>
        </div>
    </div>
</div>

