<script>
    let currentAction = 'none';
    $('#header').before(`
        <div class="alert alert-info alert-dismissable fade position-absolute w-50 mx-auto" id="alert" style="z-index:100;left:0;right:0;top:5%;transition:all .5s ease-out;" role="alert">
            Нажмите на любой ряд, чтобы совершить действие
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div >`);
    const addButtonClickListener = (action = 'edit') => {
        $(`#${action}-button`).on('click', () => {
            const cells = $('#table').children('tbody').first().children('tr');
            if (action === currentAction) {
                cells.toggleClass('selectable').toggleClass(action + 'able');
                cells.off('click.' + currentAction);
                currentAction = 'none';
                return;
            }
            else {
                if (currentAction === 'none') {
                    cells.toggleClass('selectable');
                    $('#alert').addClass('show')
                }
                cells.toggleClass(action + 'able').toggleClass(currentAction + 'able');
                cells.off('click.'+currentAction);
                currentAction = action;
                cells.on('click.'+currentAction, event => {
                    const id = event.target.closest('tr').firstElementChild.textContent;
                    window.location.assign(`/Admin/@ViewBag.Table?action=${currentAction}&rowId=${id}`);
                });
                return;
            }
        });
    };
    $('#add-button').on('click', () => window.location.assign('/Admin/@ViewBag.Table?action=add'));
    addButtonClickListener('edit');
    addButtonClickListener('delete');
</script>
