
@{
    ViewBag.Title = "Администрирование";
}


<h3 class="text-primary my-4">Выберите таблицу для редактирования:</h3>
<div class="list-group">
    <a href="/Admin/Contracts?page=1" class="list-group-item list-group-item-action ">Договоры</a>
    <a href="/Admin/Groups?page=1" class="list-group-item list-group-item-action">Группы</a>
    <a href="/Admin/Leaders?page=1" class="list-group-item list-group-item-action">Руководители</a>
    <a href="/Admin/Organizations?page=1" class="list-group-item list-group-item-action">Организации</a>
    <a href="/Admin/Ranks?page=1" class="list-group-item list-group-item-action">Должности</a>
    <a href="/Admin/Sectors?page=1" class="list-group-item list-group-item-action">Отрасли</a>
    <a href="/Admin/Specialties?page=1" class="list-group-item list-group-item-action">Специальности</a>
    <a href="/Admin/Students?page=1" class="list-group-item list-group-item-action">Студенты</a>
</div>

