
@{
    ViewBag.Title = "Администрирование";
}


<h3 class="text-primary my-4">Выберите таблицу для редактирования:</h3>
<div class="list-group">
    <a href="/Contracts?page=1" class="list-group-item list-group-item-action ">Договоры</a>
    <a href="/Groups?page=1" class="list-group-item list-group-item-action">Группы</a>
    <a href="/Leaders?page=1" class="list-group-item list-group-item-action">Руководители</a>
    <a href="/Organizations?page=1" class="list-group-item list-group-item-action">Организации</a>
    <a href="/Ranks?page=1" class="list-group-item list-group-item-action">Должности</a>
    <a href="/Sectors?page=1" class="list-group-item list-group-item-action">Отрасли</a>
    <a href="/Specialties?page=1" class="list-group-item list-group-item-action">Специальности</a>
    <a href="/Students?page=1" class="list-group-item list-group-item-action">Студенты</a>
</div>

