@{
    ViewBag.Title = "О приложении";
}

    <div class="jumbotron mt-5">
        <h1 class="display-4">Система учета прохождения студентами производственной практики</h1>
        <p class="lead">Данная система позволяет осуществлять операции с данными, которые указаны ниже.</p>
        <ul>
            <li>
                Менеджеры учебного офиса могут:
                <ul>
                    <li>Просматривать <strong>все</strong> данные;</li>
                    <li>Добавлять данные;</li>
                    <li>Изменять данные;</li>
                    <li>Удалять данные</li>
                </ul>
            </li>
            <li>
                Все пользователи могут:
                <ul>
                    <li>Формировать заранее заготовленные запросы к данным;</li>
                    <li>Просматривать результаты запросов в Excel;</li>
                    <li>Просматривать результаты запросов в Word.</li>
                </ul>
            </li>
        </ul>
    </div>

